<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

</body>
</html>
    <title>What is OOP?</title>
</head>

<body>
<h1>OOP stands for Object-Oriented Programming</h1>
<body bgcolor="#DAEDD1 ">
<p></p>
<p>Procedural programming is about writing procedures or functions that perform operations on the data, while object-oriented programming is about creating objects that contain both data and functions.Object-oriented programming (OOP) is a programming paradigm fundamental to many programming languages, including Java and C++. In this article, we'll provide an overview of the basic concepts of OOP. We'll describe three main concepts: classes and instances, inheritance, and encapsulation. For now, we'll describe these concepts without reference to JavaScript in particular, so all the examples are given in pseudocode.</p>
<p></p>
<h2>Object-oriented programming has several advantages over procedural programming:</h2>
<html>
   <head>
   <body>

   </body>
</html>
<p></p>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<img src="https://www.orientsoftware.com/Media/Default/Images/BlogPost/2021-12-17/object-oriented-programming-languages.png" alt="oop" style="width:45%;">

</body>
</html>
<p></p>
<li>OOP is faster and easier to execute<p></p></li>
<li>OOP provides a clear structure for the programs</li>
<p></p>
<li>OOP helps to keep the C++ code DRY "Don't Repeat Yourself", and makes the code easier to maintain, modify and debug</li>
<p></p>
<li>OOP makes it possible to create full reusable applications with less code and shorter development time</li>
<p></p>


   <img <img src="https://lh3.googleusercontent.com/rFpowm1ccZ7JrhW6xiFmAuiOAuTNlG6grXwu0Cy4wdij3SlQEUBJg9Q6WS6mOoWioRPEZLknAlkonZuhAMrhW836cCcYEu1Vi5SkDGHscVOrMKH2HI6x6PZ01IDIOIPWQlrXlFEtR9MBwa_cdj8PwZHKAMdQ6RihAiY0HdJHkd22RELF8QstPpkrdTcs9qsEpVcUo7qrjQCliKpVrJlDrrLBC1wYnig_HWg4i5k8cJda1mFaPTSgUCFsOcuYUsa1DPxe1bKQ-UGZE3FIF0LUlXCwpw3vMa4AfTPJsH1kW9yLuD1AlKiraCAWUZiNznaeVPMRXZVgO1qSY4ROdgItclMAcx2nojJwlph61RQ_3SyrYA6RDrCwpQt1Vr4SYBaObuI2m1ECgClB0kVhgI5J_pIcE0aywxZxLo1u5o5xiY-wA2VbPe_-tuhlZpuI-vnA4Ll6nNWcl49ngkFobEfB4GwrZVOiitYARNAsVxrlV8_G_Z3eHfpsoQHSZoFxA5-1MPMRnUvG1HPuVGkVvRskoOlX0zxoSUzB6smsh7dPvipPNH1w09j9bIdIg4PdMWpaoPzvdKpUMKs3G7filnued7tyPHDVAnoKcwf_PneNHzZmB2N17iqSMCwQC8MpiKDueg1HPbEd6q2sz1mT9gUUR_zEiYhPFa-u4MAyN2jPj1PlKj6uPaiz0O-NXjkFspuUuBLdfHuCmsnVWYzgWkaqi_nJ95PYI6FVpScaWwnvIGFThog2cAw5wVspgn8dpA=w1760-h990-no?authuser=0" style="width:800px;height:428px;">


</style>
 <h1>Exercises</h1>

  <p><a href=https://codeboard.io/projects/335435>LECTURE 1: INTRODUCTION TO PYTHON</a></p>
  <p><a href=https://codeboard.io/projects/335438>LECTURE 02: VARIABLES AND STRINGS</a></p>
    <p></p>
   <p><a href=https://codeboard.io/projects/335441>LECTURE 03 & 04: FUNDAMENTALS AND IF STATEMENTS</a>
    <p></p>
   <p><a href=https://codeboard.io/projects/335456>LECTURE 05: WHILE LOOP AND INPUT METHOD</a></p>
   <p><a href=https://codeboard.io/projects/335460>LECTURE 06: LIST</a></p>
   <p><a href=https://codeboard.io/projects/335461>LECTURE 07: TUPLES, SORT, LIST</a></p>
   <p><a href=https://codeboard.io/projects/335482>LECTURE 08: EXCEPTION HANDLING</a>
         <p></p>
     <p></p>
   <p><a href=https://codeboard.io/projects/335483>LECTURE 09: PYTHON DICTIONARY</a></p>
     <p><a href=https://codeboard.io/projects/335628>LECTURE 10: PYTHON FUNCTION</a></p>
  <!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 2px solid black;
}
</style>
</head>
<body>

<h2>About the Student:</h2>

  <table class="center">
    <tr>
    <th>Student Number:</th>
    <th>1820182</th>
  </tr>
  <tr>
    <th>Name:</th>
    <th>Costoy, Janela L.</th>
  </tr>
  <tr>
    <th>Course:</th>
    <th>CPE2A</th>
  </tr>
</table>

</body>
</html>
