<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recycling</title>
</head>
<body>
<h1>Recycling Basics</h1>
<body bgcolor="#DAEDD1 ">
<p></p>
<p>Recycling is the process of collecting and processing materials that would otherwise be thrown away as trash and turning them into new products. Recycling can benefit your community and the environment.</p>
<p></p>
<h2>On this website:</h2>
<p><a href=https://www.epa.gov/recycle/recycling-basics#Benefits>Benefits of Recycling</a></p></li>
<p><a href=https://www.epa.gov/recycle/recycling-basics#Steps>Steps to Recycling Materials</a></p></li>
<p><a href=https://www.epa.gov/recycle/recycling-basics#JobCreation>Recycling Creates Jobs</a></p></li>
<p></p>
<h3>Benefits of Recycling</h3>
<li>Reduces the amount of waste sent to landfills and incinerators</li>
<li>Conserves natural resources such as timber, water and minerals</li>
<li>Increases economic security by tapping a domestic source of materials</li>
<li>Prevents pollution by reducing the need to collect new raw materials</li>
<li>Saves energy</li>
<li>Supports manufacturing and conserves valuable resources</li>
<li>Helps create jobs in the recycling and manufacturing industries</li>

<h2>“There has been a significant amount of misinformation and hysteria in the media recently about recycling, with one major national newspaper describing it as ‘collapsing,’ while an Indiana paper had a headline about avoiding recycling ‘Armageddon.’ ... Recycling is not dying, and China’s import restrictions provide an opportunity to create jobs in North America and protect the environment. We should take full advantage of the opportunity.”</h2>
<h3>-David Biderman</h3>
SWANA CEO</p>
<p></p>

<h3>Why is Recycling Important?</h3>
<p>The benefits are far-reaching, and everybody gains when people adopt recycling as an everyday habit. Whether it is a community effort to help beautify a dirty neighborhood street or on a larger scale to help a business save hundreds to thousands of dollars on waste management, the advantages of a well-maintained recycling program are endless.</p>
</body>
</html>